# GENERAL
CONFIG_FLASHMODE_QIO=y
CONFIG_FREERTOS_UNICORE=y
CONFIG_COMPILER_OPTIMIZATION_LEVEL_RELEASE=y
CONFIG_OPTIMIZATION_LEVEL_RELEASE=y
CONFIG_BOOTLOADER_LOG_LEVEL_WARN=y
CONFIG_BOOTLOADER_LOG_LEVEL=2
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_BOOTLOADER_SPI_WP_PIN=7
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.4MB.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.4MB.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000
CONFIG_PARTITION_TABLE_MD5=y

# ESP32-POE-ISO ETHERNET
CONFIG_ETH_USE_ESP32_EMAC=y
CONFIG_ETH_PHY_INTERFACE_RMII=y
CONFIG_ETH_RMII_CLK_OUT_GPIO=17
CONFIG_ETH_RMII_CLK_OUTPUT=y
CONFIG_AD2IOT_ETH_PHY_LAN8720=y
CONFIG_AD2IOT_ETH_MDC_GPIO=23
CONFIG_AD2IOT_ETH_MDIO_GPIO=18
CONFIG_AD2IOT_ETH_PHY_RST_GPIO=-1
CONFIG_AD2IOT_ETH_PHY_POWER_GPIO=12
CONFIG_AD2IOT_ETH_PHY_ADDR=0

# DEFAULT COMPONENTS & SETTINGS
CONFIG_LWIP_LOCAL_HOSTNAME="ad2iot"
CONFIG_AD2IOT_USE_WIFI=y
CONFIG_AD2IOT_USE_ETHERNET=y
CONFIG_AD2IOT_USE_INTERNAL_ETHERNET=y
CONFIG_AD2IOT_SER2SOCK_IPV4=y
CONFIG_SER2SOCKD=y
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE_DEFAULT_CMN=y
CONFIG_MBEDTLS_CUSTOM_CERTIFICATE_BUNDLE=y
CONFIG_MBEDTLS_CUSTOM_CERTIFICATE_BUNDLE_PATH="certs"
CONFIG_STDK_IOT_CORE=y
CONFIG_STDK_IOT_CORE_EASYSETUP_HTTP=y
CONFIG_STDK_IOT_CORE_LOG_LEVEL_ERROR=y
CONFIG_STDK_IOT_CORE_LOG_LEVEL_WARN=y
CONFIG_STDK_IOT_CORE_LOG_LEVEL_INFO=y
CONFIG_STDK_IOT_CORE_SUPPORT_STNV_PARTITION=y
CONFIG_STDK_IOT_CORE_LOG_FILE=y
CONFIG_STDK_IOT_CORE_LOG_FILE_RAM_ONLY=y
CONFIG_STDK_IOT_CORE_LOG_FILE_RAM_BUF_SIZE=8192
CONFIG_STDK_IOT_CORE_BSP_SUPPORT_ESP32=y
CONFIG_STDK_IOT_CORE_OS_SUPPORT_FREERTOS=y
CONFIG_STDK_IOT_CORE_USE_MBEDTLS=y
CONFIG_STDK_IOT_CORE_CRYPTO_SUPPORT_ED25519=y
CONFIG_STDK_IOT_CORE_SECURITY_BACKEND_SOFTWARE=y
CONFIG_STDK_IOT_CORE_FS_HW_ENCRYPTION=y
CONFIG_STDK_IOT_CORE_NET_MBEDTLS=y
CONFIG_TWILIO_CLIENT=y
CONFIG_PUSHOVER_CLIENT=y
