menu "AlarmDecoder IoT Configuration (AD2iot)"

config AD2IOT_TOP
    bool "Enable TOP command"
    default y
    help
        Enable support for TOP command and background task to monitor FreeRTOS tasks.

config AD2IOT_USE_WIFI
    bool "Enable WiFi driver"
    default y
    help
        Enable support for IPV4 sockets for ser2sock client/server.

config AD2IOT_USE_ETHERNET
    bool "Enable Ethernet driver"
    default y
    help
        Enable support for IPV4 sockets for ser2sock client/server.

if AD2IOT_USE_ETHERNET
    choice AD2IOT_ETHERNET_TYPE
        prompt "Ethernet Type"
        default AD2IOT_USE_INTERNAL_ETHERNET if IDF_TARGET_ESP32
        default AD2IOT_USE_DM9051 if !IDF_TARGET_ESP32
        help
            Select which kind of Ethernet will be used in the example.

        config AD2IOT_USE_INTERNAL_ETHERNET
            depends on IDF_TARGET_ESP32
            select ETH_USE_ESP32_EMAC
            bool "Internal EMAC"
            help
                Select internal Ethernet MAC controller.

        config AD2IOT_USE_DM9051
            bool "DM9051 Module"
            select ETH_USE_SPI_ETHERNET
            select ETH_SPI_ETHERNET_DM9051
            help
                Select external SPI-Ethernet module.
    endchoice # AD2IOT_ETHERNET_TYPE

    if AD2IOT_USE_INTERNAL_ETHERNET
        choice AD2IOT_ETH_PHY_MODEL
            prompt "Ethernet PHY Device"
            default AD2IOT_ETH_PHY_LAN8720
            help
                Select the Ethernet PHY device to use in the example.

            config AD2IOT_ETH_PHY_IP101
                bool "IP101"
                help
                    IP101 is a single port 10/100 MII/RMII/TP/Fiber Fast Ethernet Transceiver.
                    Goto http://www.icplus.com.tw/pp-IP101G.html for more information about it.

            config AD2IOT_ETH_PHY_RTL8201
                bool "RTL8201/SR8201"
                help
                    RTL8201F/SR8201F is a single port 10/100Mb Ethernet Transceiver with auto MDIX.
                    Goto http://www.corechip-sz.com/productsview.asp?id=22 for more information about it.

            config AD2IOT_ETH_PHY_LAN8720
                bool "LAN8720"
                help
                    LAN8720A is a small footprint RMII 10/100 Ethernet Transceiver with HP Auto-MDIX Support.
                    Goto https://www.microchip.com/LAN8720A for more information about it.

            config AD2IOT_ETH_PHY_DP83848
                bool "DP83848"
                help
                    DP83848 is a single port 10/100Mb/s Ethernet Physical Layer Transceiver.
                    Goto http://www.ti.com/product/DP83848J for more information about it.
        endchoice

        config AD2IOT_ETH_MDC_GPIO
            int "SMI MDC GPIO number"
            default 23
            help
                Set the GPIO number used by SMI MDC.

        config AD2IOT_ETH_MDIO_GPIO
            int "SMI MDIO GPIO number"
            default 18
            help
                Set the GPIO number used by SMI MDIO.
    endif # AD2IOT_USE_INTERNAL_ETHERNET

    if AD2IOT_USE_DM9051
        config AD2IOT_DM9051_SPI_HOST
            int "SPI Host Number"
            range 0 2
            default 1
            help
                Set the SPI host used to communicate with DM9051.

        config AD2IOT_DM9051_SCLK_GPIO
            int "SPI SCLK GPIO number"
            range 0 33
            default 19
            help
                Set the GPIO number used by SPI SCLK.

        config AD2IOT_DM9051_MOSI_GPIO
            int "SPI MOSI GPIO number"
            range 0 33
            default 23
            help
                Set the GPIO number used by SPI MOSI.

        config AD2IOT_DM9051_MISO_GPIO
            int "SPI MISO GPIO number"
            range 0 33
            default 25
            help
                Set the GPIO number used by SPI MISO.

        config AD2IOT_DM9051_CS_GPIO
            int "SPI CS GPIO number"
            range 0 33
            default 22
            help
                Set the GPIO number used by SPI CS.

        config AD2IOT_DM9051_SPI_CLOCK_MHZ
            int "SPI clock speed (MHz)"
            range 20 80
            default 20
            help
                Set the clock speed (MHz) of SPI interface.

        config AD2IOT_DM9051_INT_GPIO
            int "Interrupt GPIO number"
            default 4
            help
                Set the GPIO number used by DM9051 interrupt.
    endif # AD2IOT_USE_DM9051

    config AD2IOT_ETH_PHY_RST_GPIO
        int "PHY Reset GPIO number"
        default 5
        help
            Set the GPIO number used to reset PHY chip.
            Set to -1 to disable PHY chip hardware reset.

    config AD2IOT_ETH_PHY_POWER_GPIO
        int "PHY Powercontrol GPIO number"
        default 12
        help
            Set the GPIO number used to enable power on PHY chip.

    config AD2IOT_ETH_PHY_ADDR
        int "PHY Address"
        range 0 31 if AD2IOT_USE_INTERNAL_ETHERNET
        range 1 1 if !AD2IOT_USE_INTERNAL_ETHERNET
        default 1
        help
            Set PHY address according your board schematic.
endif # AD2IOT_USE_ETHERNET

endmenu
